* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 70px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    opacity: 1;
}
.header__nav {
    display:flex;
}
.nav__element {
    padding: 0 26px;
}
.nav__element:last-child {
    padding-right: 0;
}
.logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
}

.nav__link {
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    color: #A5A5A5;
    opacity: 1;
    letter-spacing: 3.28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
}
.nav__link:hover {
    color: #000000;
    border-bottom: 5px solid dodgerblue;
}
.main {
    width: 100%;
}
.opening__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.opening__element > h1 {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 130px;
}
.opening__element > p {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin: 20px 0 60px 0;
}
.opening__element > a {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 157px;
}
.opening__img {
    max-width: 100%;
}
.statistics__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics__element {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.ellipse2 {
    height: 63px;
    width: 63px;
    background: #FB3B64 0 0 no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}
.ellipse1 {
    height: 63px;
    width: 63px;
    background: #08A6E4 0 0 no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}
.ellipse3 {
    height: 63px;
    width: 63px;
    background: #55DFB4 0 0 no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}
.statistics__module__logo {
    position: relative;
}
.person {
    background-image: url("../images/Person.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 52px;
    width: 44px;
    position: absolute;
    bottom: 6px;
    left: 34px;
}
.eye {
    background-image: url("../images/Eye.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 37px;
    width: 65px;
    position: absolute;
    bottom: 12px;
    left: 22px;
}
.catalog {
    background-image: url("../images/Catalog.svg");
    background-size: contain;
    height: 43px;
    width: 48px;
    position: absolute;
    bottom: 12px;
    left: 40px;
}
.statistics__element {
    display: flex;
    justify-content: space-evenly;
}
.statistics__element__module {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 142px;
    margin-bottom: 121px;
}
.statistics__element__module > div {
    margin-top: 15px;
}
.statistics__element > h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 100px;
}
.statistics__module__integer {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
}
.statistics__module__string {
    text-align: center;
    font: normal normal normal 17px/20px Raleway;
    letter-spacing: 0;
    color: #A5A5A5;
    opacity: 1;
}
.benefits__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #F7F7F7 0 0 no-repeat padding-box;
    opacity: 1;
}
.benefits__elements {
    width: calc(100% - 251px);
    height: 370px;
    margin-top: 37px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefits__elements:first-child {
    margin-top: 105px;
}
.benefits__elements__description {
    width: calc(100% - 647px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.benefits__elements__images {
    width: calc(100% - 620px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
}
.benefits__elements__description > h2 {
    max-width: 250px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-left: 36px;
    padding-top: 91px;
}
.benefits__elements__description > p {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-left: 36px;
    margin-right: 20px
;
}
.benefits__elements__border1 {
    margin-left: 36px;
    width: 328px;
    border: 4px solid #FB3B64;
    opacity: 1;
    margin-bottom: 91px;
}
.benefits__elements__border2 {
    margin-left: 36px;
    width: 328px;
    border: 4px solid #08A6E4;
    opacity: 1;
    margin-bottom: 91px;
}
.benefits__img1 {
    width: 388px;
    height: 219px;
    margin-top: 75px;
    z-index: 1;
}
.benefits__elements__images {
    position: relative;
}
.benefits__elements__img {
    z-index: 2;
}
.benefits__img__background1::after {
    content: "";
    width: 178px;
    height: 178px;
    background: #FB3B64 0 0 no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    z-index: 0;
    left: 245px;
    bottom: 100px;
}
.benefits__img2 {
    width: 426px;
    height: 328px;
    margin-top: 29px;
    margin-left: 70px;
    z-index: 2;
}
.benefits__img__background2 {
    position: relative;
}
.benefits__img__background2::after {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 49%;
    background: #07ACE6 0 0 no-repeat padding-box;
    opacity: 1;
    position: absolute;
    left: 59px;
    bottom: 24px;
    z-index: -1;
}